body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0e131a;
}

.container {
  width: 550px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 4rem;

  color: #8594ac;
  background: -webkit-linear-gradient(#f30c64, #8594ac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  display: flex;
  align-items: center;
}

.form-wrapper {
  background-color: #1F2937;
  height: 90px;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.color-picker {
  height: 43px;
  width: 61px;
  cursor: pointer;
  background-color: #3D4B60;
}

.select {
  -webkit-appearance: none;
  background-image: url('/assets/images/selector.png');
  background-repeat: no-repeat;
  background-position: 280px center;
  background-color: #1F293A;
  color: #D1D5DB;

  border: 1px solid #c24984;
  border-radius: 6px;

  width: 312px;
  height: 42px;
  padding: 0.75em;
  margin: 12px;

  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.select option:checked {
  background-color: #c24984;
  font-weight: 600;
}

.get-scheme-btn {
  width: 123px;
  height: 42px;
  border: none;
  background-color: #3D4B60;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  cursor: pointer;
}

.get-scheme-btn:hover {
  background-color: #c24984;
}

.color-section {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.hex-value-section {
  display: flex;
  color: #D5D4D8;
  justify-content: space-around;
  align-items: center;
  background: #1F2937;
  height: 46px;
  display: none;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.hex-value {
  cursor: pointer;
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
}

.hex-value:hover {
  color: #c24984;
}

.color {
  height: 500px;
  width: 200px;
}

.message {
  color: white;
  background-color: #3D4B60;

  text-align: center;

  width: 200px;
  padding: 0.5em 0.1em;
  border: 1px solid #c24984;
  border-radius: 6px;

  position: absolute;
  top: 420px;
  left: 180px;

  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}